# confa-test/.gitignore

# ------------------------------------
# Archivos y directorios generales a ignorar
# ------------------------------------
.DS_Store
.env
.env.backup
.idea/             # Directorios de IDEs (IntelliJ, PhpStorm, etc.)
.vscode/           # Directorios de VS Code (configuraciones de espacio de trabajo, etc.)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Logs de Composer
composer-*.log
# Archivos de empaquetado/build
*.zip
*.tar
*.tar.gz
*.rar
# Archivos de dependencias de sistemas operativos
Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------------
# Ignorar dependencias de Node.js (común en test-comfa-front y algunas herramientas de test-comfa-backend)
# ------------------------------------
node_modules/

# ------------------------------------
# Ignorar archivos y directorios específicos de Laravel (test-comfa-backend)
# ------------------------------------
/test-comfa-backend/vendor/
/test-comfa-backend/node_modules/     
/test-comfa-backend/.env               
/test-comfa-backend/.env.backup
/test-comfa-backend/public/hot         
/test-comfa-backend/public/storage     
/test-comfa-backend/storage/*.key     
/test-comfa-backend/storage/*.log     
/test-comfa-backend/bootstrap/cache/*.php
/test-comfa-backend/Homestead.json
/test-comfa-backend/Homestead.yaml
/test-comfa-backend/src/*.bak          
/test-comfa-backend/*.sqlite           

# ------------------------------------
# Ignorar archivos y directorios específicos de Angular (test-comfa-front)
# ------------------------------------
/test-comfa-front/node_modules/
/test-comfa-front/dist/            
/test-comfa-front/npm-debug.log
/test-comfa-front/yarn-error.log
/test-comfa-front/.angular/         
/test-comfa-front/.browserslistrc   
/test-comfa-front/coverage/         
/test-comfa-front/src/environments/*.ts 
/test-comfa-front/src/environments/*.prod.ts
# IDEs / Editores
/test-comfa-front/.idea/
/test-comfa-front/.vscode/
# Archivos de caché del sistema de archivos
/test-comfa-front/.cache/
/test-comfa-front/tmp/
/test-comfa-front/src/**/*.js       
/test-comfa-front/src/**/*.map      


# ------------------------------------
# Otros archivos específicos del proyecto
# ------------------------------------
*.bak
*.swp
*.swo

# Fin del archivo .gitignore